* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: big;
  src: url(../font/DINRoundPro.ttf);
}
@font-face {
  font-family: bigBlack;
  src: url(../font/DINRoundPro-Black.ttf);
}
body {
  scroll-behavior: smooth;
  background-color: tan;
  height: 100vh;
}
header::after {
  display: block;
  content: "";
  clear: both;
}
p {
  font-family: big;

  white-space: normal;
}
#bar p {
  font-size: 2em;
}

#menuBox {
  position: absolute;
  width: 10%;
  object-fit: contain;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#hambuger {
  object-fit: contain;
}
/* build nav bar using pc mode first to mobile */
.content {
  max-width: 900px;
  width: 100%;
  margin: auto;
  background-color: #3b8ea5;
}

.normNav {
  margin-bottom: 10px;
  width: 100%;
  font-weight: 100;
  font-size: 1.3em;
  z-index: 1;
}
.normNav ul {
  list-style: none;
}
.normNav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
  font-family: asd;
  font-weight: 900;
}

.content .open {
  transform: translate(0, 0);
}
#close {
  display: none;
}
#menu {
  display: none;
}
.normNav li {
  display: inline-block;
  margin-left: 12%;
  padding-top: 1px;
}
.normNav a:hover {
  text-decoration: none;
  color: #000000;
  font-family: asd;
}
.normNav a::before {
  display: block;
  content: "";
  width: 0%;
  height: 5px;
  background-color: #3b8ea5;
  transition: ease-in-out 250ms;
}
.normNav a:hover:before {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #3b8ea5;
}
.normNav a::after {
  display: block;
  content: "";
  width: 0%;
  height: 5px;
  background-color: #3b8ea5;
  transition: ease-in-out 250ms;
}
.normNav a:hover::after {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #3b8ea5;
}

h1 {
  font-family: bigBlack;
}

/* history */
.pageContent {
  margin: 5px 2px;
  display: flex;
  flex-wrap: wrap;
  background-color: #3b8ea5;
  height: 60vh;
  overflow: hidden;
}

.barImg .imgBox {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: fill;
  background-color: gray;
  overflow: hidden;
  position: relative;
}

.ImgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ImgBox {
  width: 40%;
  height: 100%;
  background-color: orange;
}
.words {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#year {
  transition: all 1s;
}

#images {
  transition: all 1s;
}

#bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bar ul {
  list-style: none;
}
#bar li {
  display: inline-block;
  padding-top: 40px;
  margin: 0px 100px 0px 100px;
}
.MainContent {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  position: relative;
  background-color: antiquewhite;
}

.descreption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(65, 65, 65);
  transition-duration: 100ms;
  top: 200px;
}
.show {
  top: 0;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#MC,
#BE {
  margin-top: 10px;
}

/* benefit */
#leftText {
  width: 0%;
  height: 100%;
  transition: width 1s;

  overflow: hidden;
}
#leftText p {
  font-size: 2em;
}
#leftText h1 {
  font-size: 2em;
}
#CenterImage {
  width: 40%;

  height: 100%;
  background-color: #4d4d4d;
}

#CenterImage img {
  object-fit: contain;
}
#rightText {
  width: 60%;
  transition: width 1s;
  height: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#rightText p {
  font-size: 2em;
}
#rightText h1 {
  font-size: 2em;
}

#top {
  width: 100%;
  display: flex;
  height: 0%;
  transition: height 1s;
}
#side {
  width: 100%;
  height: 100%;
  display: flex;

  background-color: #3b8ea5;
}
#TCenterImage {
  background-color: blanchedalmond;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#VS {
  font-family: big;
  font-size: 10em;
}

#TleftText {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.BenefitWord {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.BenefitWord p {
  font-size: 2em;
}
#TleftText .imgBox {
  height: 20%;
  background-color: aliceblue;
}
#TleftText .imgBox img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#TrightText {
  display: flex;
  flex-direction: column;
  width: 45%;
}
#TrightText .imgBox {
  height: 20%;
  background-color: aliceblue;
}
#TrightText .imgBox img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#game {
  background-color: #3b8ea5;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.lane {
  width: 100%;
  position: relative;
  height: 10%;
  background-color: green;
  display: flex;
  align-items: center;
}
.lane {
  margin-top: 5%;
}
.lane .imgBox {
  position: absolute;
  width: 10%;
  left: 0;
  transition: all 1s;
}
.lane .imgBox img {
  height: 100%;
  object-fit: contain;
}
#GO {
  margin-top: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#G {
  background-color: green;
  border-radius: 3%;
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
}
#G p {
  font-family: bigBlack;
  font-size: 2.5em;
}
.timer {
  background-color: #00000048;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
}
#TimerText {
  font-size: 10em;
}

.hide {
  display: none;
}
.hidden {
  display: none;
}
.Navhidden {
  display: block;
}
.Pdess {
  transition: all 1s;
  padding: 10px;
  font-size: 2em;
}

@media screen and (max-width: 720px) {
  #rightText p {
    font-size: 1em;
  }
  #rightText h1 {
    font-size: 2em;
  }
  #leftText p {
    font-size: 1em;
  }
  #leftText h1 {
    font-size: 2em;
  }
  
  
  .BenefitWord p {
    font-size: 1em;
  }
  #top {
    height: 100%;
  }
  #VS {
    font-family: big;
    font-size: 3em;
  }

  .hr {
    font-family: bigBlack;
  }

  #BE .pageContent {
    height: 1000vh;
  }
  .Pdess {
    padding: 10px;
    font-size: 1.5em;
  }

  .pageContent {
    flex-direction: column;
  }
  .pageContent .ImgBox {
    height: 100%;
  }

  .hidden {
    display: block;
  }
  .Navhidden {
    display: none;
  }
  .normNav li {
    display: inline-block;
    margin-left: 0;
    margin-right: 10px;
    padding-top: 1px;
  }
  .normNav a:before {
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #3b8ea5;
  }

  .normNav a::after {
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #3b8ea5;
  }
  .descreption {
    top: 0;
  }
  #bar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #TimerText {
    font-size: 5em;
  }
  .pageContent{
    height: 100vh;
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {



  .pageContentLong {
    height: 70vh;
  }
  #top {
    flex-direction: column;
  }
  #TCenterImage {
    width: 100%;
    height: 5%;
  }
  #TleftText {
    height: 47.5%;
    width: 100%;
  }
  #TrightText {
    height: 47.5%;
    width: 100%;
  }

  .side{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .side #CenterImage{
    width: 100%;
    height: 20%;
  }
  #rightText{

    width: 100%;
  }

  #rightText p {
    
    height: auto;
    font-size: 1em;
  }
  #rightText h1 {
    font-size: 1em;
  }
  #leftText p {
    font-size: 1em;
  }
  #leftText h1 {
    font-size:1em;
  }
  #VS
  {
    font-size: 1em;
  }

  .pageContent .ImgBox {
    width: 100%;
    height: 10%;
    background-color: orange;
  }
  .Pdess {
    font-size: 0.7em;
  }
  #MC .pageContent{
    height: auto;
  }

  #menu {
    display: block;
  }
  #close {
    display: block;
  }
  .content {
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: aliceblue;
  }
  .content nav {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-3000px, 0);
    transition: transform 0.3s ease;
  }
  .normNav a::before {
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #3b8ea5;
  }
  .normNav #close::before {
    display: none;
  }
  .normNav #close::after {
    display: none;
  }
  .normNav a::after {
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #3b8ea5;
  }

  .normNav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .normNav ul li {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .normNav {
    width: 100%;
    height: 100%;
    background-color: gray;
  }
  .ImgBox {
    width: 100%;
  }
  .words {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .descreption {
    top: 0;
  }
  #bar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #TimerText {
    font-size: 3em;
  }
}
